.modal {
    overflow: auto;
    padding: 15px;
    width: 50vw;
}

.modal::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.modal::-webkit-scrollbar-track {
    background-color: #242424;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Handle */
.modal::-webkit-scrollbar-thumb {
    background-color: #646464;
    border-radius: 50px;
}

/* Handle on hover */
.modal::-webkit-scrollbar-thumb:hover {
    background-color: #525252;
}

.title-container,
.restaurant-container,
.empty-votes-message-container {
    margin: 10px;
}

.empty-votes-message-container {
}

.empty-votes-message {
    color: #acacac;
}

.restaurant-container {
    padding: 15px;
    border-radius: 10px;
    background-color: #363636;
}

.restaurant-name-container {
    margin: 5px;
}

.likes-dislikes-container {
    display: flex;
}

.likes-container,
.dislikes-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.likes-dislikes-num {
    margin: 8px;
}

@media screen and (max-width: 600px) {
    .modal {
        width: 300px;
    }
}